//  --------------------------------------------------
//  Video Tile Object

//  - styles for displaying video tiles
//  --------------------------------------------------
//  mobile styles (default)
//  ==================================================
    .o-conceptVideo {
      background: white;
      display: block;
      position: relative;
      margin-bottom: rem(32px);

      &__preview {
        min-height: rem(470px);
        background: 50% 0 no-repeat / cover;
        -webkit-background-size: cover;
        position: relative;
        border-top: rem(1px) solid $ui-2;
        border-bottom: rem(1px) solid $ui-2;
        box-sizing: content-box;

        &PlayBtn {
          width: rem(96px);
          height: rem(96px);
          border: rem(2px) solid white;
          border-radius: rem(50px);
          padding: rem(24px);
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: background $timing $ease;
        }
      }

      &__details {
        padding: rem(8px) rem(24px) rem(16px);
      }

      &__title {
        margin: rem(12px) 0 rem(4px);
        font-size: rem(20px);
        line-height: rem(24px);
        font-weight: $font-bold;
        text-align: left;
      }

      &__conceptTitle {
        background: $copy-3;
        border-radius: rem(38px);
        padding: 0 rem(8px);
        color: white;
        font-size: rem(12px);
        line-height: rem(16px);
        font-style: italic;
        white-space: nowrap;
        display: inline-block;
        margin: rem(8px) 0 0;
      }

      &__description {
        color: $copy-2;
        font-size: rem(14px);
        line-height: rem(24px);
        padding: rem(15px) 0 rem(1px);
      }
    }
