//  --------------------------------------------------
//  Plan Selector Object

//  - UI for choosing plans and plan options
//  --------------------------------------------------
//  mobile styles (default)
//  ==================================================
    .o-planWizard {
      @include flexbox;
      @include justify-content(center);
      background: white;
      min-height: rem(80px);
      padding: rem(23px);
      border: rem(1px) solid $ui-2;
      margin: rem(-16px) 0 rem(24px);

      &__steps {
        @include flexbox;
        @include justify-content(center);
      }

      &__step {
        @include flexbox;
        @include align-items(center);
        color: $copy-2;
        font-size: rem(16px);
        line-height: rem(24px);
        transition: color $timing $ease;

        &Name {
          padding-top: rem(8px);
          text-align: center;
          display: none;
        }

        .b-circleBox {
          padding-top: rem(4px);
          font-weight: $font-bold;
          background: $copy-2;
        }

        .b-circleBox--size\(24\)  {
          margin: rem(4px) 0 0 0;
        }

        &--current {
          color: $copy-1;

          .b-circleBox {
            background: $active-1;
            color: white;
          }
        }
      }

      &__next {
        width: rem(24px);
        height: rem(32px);
        padding: rem(4px) rem(5px);
        margin: 0 rem(16px);

        .a-glyph {
          transition: fill $timing $ease;
          fill: $ui-1;
        }
      }

      &__nextStep {
        display: none;
      }
    }

//  --------------------------------------------------
//  tablet only styles (default)
//  ==================================================
    @media #{ $tablet--only } {

      .o-planWizard__next {
        padding-top: rem(8px);
      }
    }

//  --------------------------------------------------
//  desktop styles (default)
//  ==================================================
    @media #{ $desktop--start } {
      .o-planWizard {
        @include justify-content(flex-start);

        &__steps {
          @include justify-content(flex-start);
          @include flex-grow(1);
        }

        &__step {
          @include flex-direction(row);
          margin-right: rem(12px);

          &Name {
            display: block;
            padding-top: 0;
            margin-right: rem(16px);
          }

          .b-circleBox {
            margin: 0 rem(12px) 0 0;
          }

          &:hover {
            .a-glyph {
              fill: $active-1b;
            }
          }

          &--next {
            color: $active-1;
            font-weight: $font-bold;
            font-size: rem(14px);
            line-height: rem(24px);

            .o-planWizard__next {
              .a-glyph {
                fill: $active-1;
              }
            }

            &:hover {
              .a-glyph {
                fill: $active-1b;
              }
            }
          }
        }

        &__next {
          margin: 0 rem(16px) 0 0;
        }

        &__nextStep {
          display: block;
          font-weight: $font-bold;
          font-size: rem(14px);
          line-height: rem(24px);
          margin: rem(4px) rem(12px) 0 0;
          color: $active-1;

          .a-glyph {
            fill: $active-1;
          }

          &:hover {
            .a-glyph {
              fill: $active-1b;
            }
          }
        }
      }
    }
