//  --------------------------------------------------
//  Product Selection Object

//  - select product screen
//  --------------------------------------------------
//  mobile styles (default)
//  ==================================================
    .o-productSelection {

      &__intro {
        padding: rem(64px) 0 rem(40px) 0;
        text-align: center;
      }

      &__product {
        background: white;
        border: rem(1px) solid $ui-2;
        padding: rem(23px);
        margin-bottom: rem(24px);
        text-align: center;
        transition: border $timing $ease, color $timing $ease, box-shadow $timing $ease, -webkit-box-shadow $timing $ease;
        position: relative;
        cursor: pointer;
        height: 100%;

        &Link {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
        }

        .a-s\(14\) {
          font-size: rem(13px);
        }

        &Link {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 2;
        }

        &Name {
          padding: 0 0 rem(17px);
        }

        &Portrait {
          width: rem(120px);
          height: rem(120px);
          margin: 0 auto rem(24px);
          @include flexbox;
          @include justify-content(center);
          @include align-items(center);

          .a-glyph {
            width: auto;
            height: rem(48px);
          }
        }

        &Grade {
          font-weight: normal;
        }

        &:hover {
          @extend %lift-shadow;
          z-index: $z-chrome;
        }

        &--name\(parcc\) {
          .o-productSelection__productName {
            color: #1691B0;
          }

          .o-productSelection__productPortrait {
            border-radius: 50%;
            background: #1691B0;
          }

          &:hover {
            border-color: #1691B0;
            color: #1691B0;

            .o-productSelection__productPortrait {
              border-color: #1691B0;
            }
          }
        }

        &--name\(sbac\) {
          .o-productSelection__productName {
            color: #84D42D;
          }

          .o-productSelection__productPortrait {
            border-radius: 50%;
            background: #84D42D;
          }

          &:hover {
            border-color: #84D42D;
            color: #84D42D;

            .o-productSelection__productPortrait {
              border-color: #84D42D;
            }
          }
        }

        &--name\(state\) {
          .o-productSelection__productName {
            color: #9761FF;
          }

          .o-productSelection__productPortrait {
            border-radius: 50%;
            background: #9761FF;
          }

          &:hover {
            border-color: #9761FF;
            color: #9761FF;

            .o-productSelection__productPortrait {
              border-color: #9761FF;
            }
          }
        }

        &--name\(competitive\) {
          .o-productSelection__productName {
            color: #FFC000;
          }

          .o-productSelection__productPortrait {
            border-radius: 50%;
            background: #FFC000;
          }

          &:hover {
            border-color: #FFC000;
            color: #FFC000;

            .o-productSelection__productPortrait {
              border-color: #FFC000;
            }
          }
        }

      }

      &__info {
        padding-top: rem(40px);
        text-align: center;
      }

      &__actions {
        @include flexbox;
        @include justify-content(center);
        margin-top: rem(40px);

        .b-flatBtn {
          min-width: rem(168px);
          margin-right: rem(16px);

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .o-productWorkbook {
      .b-progressDisplay {
        border: none;
      }
    }
