//  --------------------------------------------------
//  TabBar Objects

//  - displays worksheet summary tabs
//  --------------------------------------------------
//  mobile styles (default)
//  ==================================================
    .o-tabBar {
      background: white;
      box-sizing: border-box;
      margin: rem(88px) 0 rem(8px);
      width: 100%;
      text-align: center;
      @include flexbox;
      @include justify-content(center);
      border-bottom: rem(1px) solid $ui-1;

      &__tab {
        @include flexbox;
        @include align-items(center);
        padding: 0 rem(16px) rem(4px); 
        margin-right: rem(8px);
        color: $copy-2;
        transition: color $timing $ease;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          bottom: rem(-1px);
          height: rem(3px);
          transition: opacity $timing $ease, background $timing $ease;
          background-color: $ui-1;
          opacity: 0;

        }

        &:hover {
          color: $active-1;

          &:after {
            opacity: 1;
          }
        }

        &--active {

          &:after {
            opacity: 1;
            background: $active-1;
          }
          .o-tabBar__label {
            color: $active-1b;
          }
        }
      }

      &__label {
        font-size: rem(16px);
        padding: rem(1px) 0 rem(7px);

      }

      &__counter {
        background: $active-2;
        color: white;
        margin-left: rem(4px);
        padding: rem(1px) rem(8px);
        border-radius: rem(50px);
        font-size: rem(14px);
        line-height: rem(16px);
      }
    }
